<li class="table-view-cell media questions">
  <a class="navigate-right question"
  href="<%=user_question_path(current_user, question.id)%>">
  <div class="question-picture">

    <% if question.headshot_photos.present? %>
    <%=image_tag(headshot_custom_image_url(question.headshot_photos.first.image_file_name), size: "100x100", alt: "Edit Entry") %>
    <% else %>
    <img class="media-object pull-left" src="http://baconmockup.com/100/100/">
    <% end %>
  </div>

  <div class="media-body">
    <%= question.title %>
    <div class="data">
      <span>
        <%=question.answers.count%> response
      </span>
      •
      <span >
        <%=question.answers.count%> votes
      </span>
    </div>
    <div class="responders">
      <%question.answers.count.times do %>
        <img class="media-object pull-left" src="https://placekitten.com/31/30">
      <%end%>

    </div>
  </div>

</a>
</li>
