<% content_for :title do %>
  <%= @question.title %>
<% end %>

<% content_for :back do %>
  <%= link_to "Back", user_questions_path(current_user.id) %>
<%end%>


<div class="card question-details">
  <span id="item1mobile" class="control-content active">
    <% if @question.headshot_photos.present? %>
    <%= image_tag headshot_custom_image_url(@question.headshot_photos.first.image_file_name) %>
    <% else %>
    <img class="media-object pull-left" src="http://baconmockup.com/100/100/">
    <% end %>
  </span>
  <div class="media-body">
    <p>
      <ul class="table-view">
        <li class="table-view-cell">
          <h1>
            <%=@question.title%>
            <p>
              <%=l @question.created_at, format: :short%>
            </p>
          </h1>
          <span class="icon icon-star-filled"></span>4
          <p>
            <%= @question.content %>
          </p>
        </li>
      </ul>
    </p>
    <% @answers.each do |a| %>
      <hr />
      <%= a.email%>
      <p>
        <%=time_ago_in_words(a.created_at)%>
      </p>
      <%= a.content%>
    <% end %>
    <hr />
    <%= link_to "Add Your Answer", new_user_question_answer_path(user_id: current_user.id, question_id: @question.id), class: "btn btn-primary btn-outlined" %>
  </div>
</div>