<!DOCTYPE html>
<html>
<head>
  <title>HolyMoly</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>

  <!-- bootstrap css -->
  <link type="text/css"
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/ratchet/2.0.2/css/ratchet.min.css">
  <link type="text/css"
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/ratchet/2.0.2/css/ratchet-theme-ios.css">

  <%= stylesheet_link_tag :application, media: :all %>
</head>
<body>

  <header class="bar bar-nav">
    <h1 class="title">Holy Moly</h1>
    <% if current_user %>
    <button class="btn pull-right">
      <%= link_to "Log out", logout_path %>
    </button>
    <% else %>
    <button class="btn pull-left">
      <%= link_to "Sign up", signup_path %>
    </button>
    <button class="btn pull-right">
      <%= link_to "Log in", login_path %>
    </button>
    <%end %>
  </header>

  <div class="">
    <% flash.each do |name, msg| %>
    <% content_tag :div, msg, class: "alert #{name == 'error' ? 'alert-danger' : 'alert-info'}" %>
    <% end %>
  </div>

  <div class="content">
    <p class="content-padded">
    <%= yield %>
  </div>

  <% if current_user %>
  <nav class="bar bar-tab">
    <a class="tab-item" href="<%=user_questions_path(current_user.id)%>">
      <span class="icon icon-home"></span>
      <span class="tab-label">Home</span>
    </a>
    <a class="tab-item" href="#">
      <span class="icon icon-person"></span>
      <span class="tab-label">Profile</span>
    </a>
    <a class="tab-item" href="#">
      <span class="icon icon-share"></span>
      <span class="tab-label">Add case</span>
    </a>
    <% if current_user.nurse? %>
    <a class="tab-item" href="#">
      <span class="icon icon-list"></span>
      <span class="tab-label">Questions</span>
    </a>
    <% else %>
    <a class="tab-item" href="<%= user_questions_path(current_user.id)%>">
      <span class="icon icon-list"></span>
      <span class="tab-label">Journal</span>
    </a>
    <% end %>
  </nav>
  <% end %>

  <%= javascript_include_tag :application %>
</body>
</html>
